name: App Deployment
on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      forceDeployServer:
        description: "Force deploy server"
        required: false
        default: false
        type: boolean
      forceDeployClient:
        description: "Force deploy client"
        required: false
        default: false
        type: boolean

jobs:
  verify-files:
    name: Verify files
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      client_files_changed: ${{ steps.client-changed-files.outputs.any_changed }}
      server_files_changed: ${{ steps.server-changed-files.outputs.any_changed }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.DEPOLYMENT_GIT_PAT }}
          submodules: recursive

      - uses: tj-actions/changed-files@v45
        id: server-changed-files
        with:
          files: apps/api/**
      - uses: tj-actions/changed-files@v45
        id: client-changed-files
        with:
          files: apps/web/**

  deploy-client:
    needs: verify-files
    if: needs.verify-files.outputs.client_files_changed == 'true' ||
      github.event.inputs.forceDeployClient == 'true'
    name: Deploy Client
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - service: employee-client

    steps:
      - uses: actions/checkout@v3
      - name: Setting Up
        id: time
        uses: nanzm/get-time-action@master
        with:
          timeZone: UTC+7
          format: "YYYY-MM-DD-HH-mm-ss"
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version: "18"

      - name: Set branch prefix
        id: branch_prefix
        run: echo "prefix=$(echo '${{ github.ref_name }}' | tr '[:lower:]' '[:upper:]')" >> $GITHUB_OUTPUT

      - name: Create .env file (${{steps.branch_prefix.outputs.prefix}})
        run: sudo touch .env && sudo chown runner:docker .env && echo "GIT_HASH=${{ github.sha }}" >> .env && echo "GIT_BRANCH=${{github.ref_name}}" >> .env && echo "GIT_BUILD_TIME=${{ steps.time.outputs.time }}" >> .env && echo '${{ secrets[format('{0}_ENV_KEY', steps.branch_prefix.outputs.prefix)] }}' >> .env

      - name: Load .env File
        uses: aarcangeli/load-dotenv@v1.0.0
        with:
          filenames: .env
          quiet: true
          if-file-not-found: error

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_ENV: development

      - name: Build Client
        run: pnpm build:web
        env:
          NODE_ENV: production

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_DEPLOYMENT_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_DEPLOYMENT_ACCOUNT_ID }}
          projectName: ${{ matrix.service }}
          directory: apps/web/dist
          workingDirectory: .
          wranglerVersion: "3"

  deploy-server:
    name: Deploy Server
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: verify-files
    if: needs.verify-files.outputs.server_files_changed == 'true' || github.event.inputs.forceDeployServer == 'true'

    strategy:
      fail-fast: false
      matrix:
        include:
          - service: employee-server
            port: 3000
            dockerfile: ./apps/api/Dockerfile

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.DEPOLYMENT_GIT_PAT }}
          submodules: recursive
      - uses: docker/setup-buildx-action@v3
      - name: Setting up...
        id: time
        uses: nanzm/get-time-action@master
        with:
          timeZone: UTC+7
          format: "YYYY-MM-DD-HH-mm-ss"

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.DEPOLYMENT_GIT_PAT }}
      - uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.LAB_KUBE_CONFIG }}

      - name: Set branch prefix
        id: branch_prefix
        run: echo "prefix=$(echo '${{ github.ref_name }}' | tr '[:lower:]' '[:upper:]')" >> $GITHUB_OUTPUT

      - name: Create .env file (${{steps.branch_prefix.outputs.prefix}})
        run: sudo touch .env && sudo chown runner:docker .env && echo "GIT_HASH=${{ github.sha }}" >> .env && echo "GIT_BRANCH=${{github.ref_name}}" >> .env && echo "GIT_BUILD_TIME=${{ steps.time.outputs.time }}" >> .env && echo '${{ secrets[format('{0}_ENV_KEY', steps.branch_prefix.outputs.prefix)] }}' >> .env

      - name: Write build info
        run: ls -l -a && sudo chown runner:docker .env && echo "GIT_HASH=${{ github.sha }}" >> .env && echo "GIT_BRANCH=${{github.ref_name}}" >> .env && echo "GIT_BUILD_TIME=${{ steps.time.outputs.time }}" >> .env && ls -l -a

      - name: Load .env file
        uses: aarcangeli/load-dotenv@v1.0.0
        with:
          filenames: .env
          quiet: true
          if-file-not-found: error

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{matrix.dockerfile}}
          push: true
          tags: ghcr.io/st4rchaser/snl-emp-app/${{ matrix.service }}-${{github.ref_name}}:latest
          cache-from: type=registry,ref=ghcr.io/st4rchaser/snl-emp-app/${{ matrix.service }}-${{github.ref_name}}
          cache-to: type=inline

      - name: Redeploy client
        run: kubectl rollout restart deployment ${{ matrix.service }}-${{github.ref_name}} --namespace=employee
